@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iCLOTHING DATABASE VIEW</h1>
    <p class="lead">Special website designed to view aspects of iCLOHING database system.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "cUSTOMER")</h2>
        <p>Customer Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Assignments", "Index", "Assignments")</h2>
        <p>Assignment Basic Information.</p>
    </div>


</div>