@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Computer Assignments System (CAS)</h1>
    <p class="lead">CAS is an application to manage assigning computers to users.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Computers", "Index", "Computers")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Assignments", "Index", "Assignments")</h2>
        <p>Assignment Basic Information.</p>
    </div>


</div>