
@{
    ViewBag.Title = "PreLogin";
}

<h2>Select one</h2>
<li>@Html.ActionLink("Customer Login", "Login", "Home")</li>
<li>@Html.ActionLink("Admin Login", "AdminLogin", "Home")</li>
<li>@Html.ActionLink("Register", "Create", "CUSTOMERs")</li>


