@model Group12_iCLOTHINGAPP.Models.USERPASSWORD

@{
    ViewBag.Title = "UserDashboard";
}

<fieldset>
    <legend>User Dashboard</legend>

    @if (Session["UserName"] != null)
    {
        <text>Welcome @Session["UserName"].ToString()</text>
    }
    <h1><li>@Html.ActionLink("Departments", "Index", "DEPARTMENTs")</li></h1>
    <h1><li>@Html.ActionLink("Categories", "Index", "Categories")</li></h1>


</fieldset>

